@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/* base styles */

* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

img{
  max-width: 100%;
}

.navbar {
  background-color: rgb(20, 19, 19);
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #FF4B57;
}

.navbar .links{
  margin-left: auto;
  
}

.nav-item{
  color: #FF4B57;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.nav-item:hover{
  color: white;
  
}
.blog-preview{
  padding: 20px;
 
}

.content{

  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}